package ##package##.##bizTag##.domain.ro;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import java.io.Serializable;
##/*import*/##

/**
 * {@code @author:} 		##author##
 * {@code @description:} 	##tableComment## 请求包装类
 * {@code @date:} 			##createTime##
 * {@code @version:}: 		##version##
 */
public class ##className##Ro {
    @Data
    @Schema(description = "##tableComment## 请求实例")
	public static class Query extends ##package##.utils.tools.request.Query implements Serializable {

        private static final long serialVersionUID = 1L;

		@JsonSerialize(using = ToStringSerializer.class)
		@Schema(description = "主键id")
		@TableId(value = "id", type = IdType.ASSIGN_ID)
		private Long id;
		<foreach-column>
		/** ##columnComment## **/
		##propertyAnnotationst##
		private ##propertyType## ##propertyName##;
    	</foreach-column>
    }

    @Data
    @Schema(description = "##tableComment## 请求实例")
    public static class Submit implements Serializable {

        private static final long serialVersionUID = 1L;

		@JsonSerialize(using = ToStringSerializer.class)
		@Schema(description = "主键id")
		@TableId(value = "id", type = IdType.ASSIGN_ID)
		private Long id;
		<foreach-column>
		/** ##columnComment## **/
		##propertyAnnotationst##
		private ##propertyType## ##propertyName##;
    	</foreach-column>
    }
}
