package ##package##.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import entity.domain.com.filling.module.poi.BaseEntity;
import lombok.experimental.Accessors;
##/*import*/##


/**
 * {@code @author:} 		##author##
 * {@code @description:} 	##tableComment## 实体类
 * {@code @date:} 			##createTime##
 * {@code @version:}: 		##version##
 */
@Data
@Accessors(chain=true)
@TableName("##tableName##")
@ApiModel(value = "##className##对象", description = "##tableComment##")
@EqualsAndHashCode(callSuper = true)
public class ##className## extends BaseEntity {
    <foreach-column>

    /** ##columnComment## **/
    ##propertyAnnotationst##
    private ##propertyType## ##propertyName##;
    </foreach-column>

}
